.flexLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.paddings {
    padding: 0 16px;
}



.Post {
    width: 60%;
    margin: auto;
    margin-bottom: 60px;
    border: 1px solid #dbdbdb;

    .postHeader {
        @extend .paddings;
        display: flex;
        justify-content: space-between;

        .user {
            @extend .flexLeft;
            padding: 16px 0;

            .avatar {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            .name {
                @extend .paddings;
            }
        }
    }

    .img {
        width: 100%;
    }

    .likes {
        @extend .paddings;
        display: flex;
        justify-content: space-between;
        
        .heart {
            @extend .IconBtn;
            margin-left: -8px;
        }
    
        .IconBtn{
            cursor: pointer;
            padding: 8px;
        }
    }



    .likeNumber {
        @extend .paddings;
        width: 100%;
        font-weight: bold;
    }

    .commentList {
        list-style: none;
        @extend .paddings;
    }

    .commentForm {
        display: flex;
        justify-content: space-between;
        @extend .paddings;
        padding-top: 16px;
        border-top: 1px solid #efefef;

        .commentInput {
            width: 100%;
            font-size: inherit;
            box-sizing: border-box;
            height: 40px;
            border: 0;
            background: 0 0;
            resize: none;

            &:focus {
                outline: 0;
            }
        }

        .postBtn {
            font-size: inherit;
            align-self: flex-start;
            padding: 4px;
            box-sizing: border-box;
            border: 0;
            color: #3897f0;
            display: inline-block;
            position: relative;
            cursor: pointer;
            background: 0 0;
        }
    }
}