.Toolbar {
    background-color: #fff;
    text-align: center;
    height: 77px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    border: 1px solid #dbdbdb;

    .title {
        padding-top: 15px;
    }
}